<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965822076914-is192o1fkbetff03emmj4q3isoqkfdbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965822076914-is192o1fkbetff03emmj4q3isoqkfdbf</string>
	<key>API_KEY</key>
	<string>AIzaSyBIWJz8js_euU_bJTx5te8noC8RGh5u0gE</string>
	<key>GCM_SENDER_ID</key>
	<string>965822076914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-db3c1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-db3c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965822076914:ios:e0e6ac6da49deef4fc7d6b</string>
</dict>
</plist>